@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Gilda+Display&family=Libre+Baskerville&family=Noto+Sans&family=Open+Sans&family=Playfair+Display:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f7f7f9;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 1.5rem;
  background: #fff;
}

.header > a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #5564eb;
  text-decoration: none;
}

.live-and-source-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 45%;
  padding: 0.7rem;
  border: #5564eb solid 1px;
  border-radius: 10px;
}

.header > a:hover {
  color: #4d5bd9;
}

.header > a:active {
  color: #2230d2;
  border-radius: 8px;
}

.header > a:disabled {
  color: #5e6c84;
}

nav {
  display: none;
}

nav.active {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 1.5rem;
  top: 4rem;
}

.icons {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 12px;
}

.icons li {
  margin-right: 24px;
}

.teck-stacks {
  list-style: none;
  display: flex;
  padding: 0;
}

.teck-stacks li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #5564eb;
  margin-right: 12px;
}

nav.active .menu-items li {
  list-style: none;
  display: block;
  text-decoration: none;
  padding-block-start: 20px;
}

.menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

.menu-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: block;
  cursor: pointer;
}

.menu-btn-x {
  display: none;
}

.menu-btn-x.show {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: block;
  cursor: pointer;
}

.menu-bg.change-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: #6070ff;
  height: 700px;
  mix-blend-mode: multiply;
}

.popup-bg.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: #c1c7d0;
  height: 700px;
  mix-blend-mode: multiply;
}

.bar1,
.bar2,
.bar3 {
  height: 2px;
  width: 20px;
  background-color: #5564eb;
  border-radius: 5px;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 6px) rotate(-45deg);
  background-color: white;
  z-index: 1;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -6px) rotate(45deg);
  background-color: white;
  z-index: 1;
}

.show .bar1 {
  transform: translate(0, 6px) rotate(-45deg);
  background-color: black;
  z-index: 666;
}

.show .bar2 {
  opacity: 0;
}

.show .bar3 {
  transform: translate(0, -6px) rotate(45deg);
  background-color: black;
  z-index: 666;
}

.portfolio-list-section {
  border: 1px solid #dfe1e6;
  background: #fff;
  border-radius: 16px;
  width: 75%;
  padding: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.portfolio-list-section img {
  width: 100%;
}

.portfolio-list-section .desktop {
  display: none;
}

.portfolio-list-section .project-description-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

.pop-up-section {
  display: none;
}

.skill-name-and-arrow span img {
  width: 13px;
}

.skills .images ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.images .desktop {
  display: none;
}

.pop-up-section.show {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 24rem;
  width: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 2.5rem 1rem 1rem;
  border: 1px solid #dfe1e6;
  background: #fff;
}

.pop-up-section.show img {
  width: 100%;
}

.pop-up-section.show .desktop {
  display: none;
}

.pop-up-section.show .project-description-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.main-section {
  width: 100%;
  background: #fff;
  background-image: url("./assets/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 100px;
}

.content {
  padding: 0 24px;
  height: 633px;
}

.content h1 {
  width: 327px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
  padding-top: 75px;
}

#primary-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4d5bd9;
  margin-bottom: 12px;
}

.cards {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 96px;
  background: #f7f7f9;
  padding: 96px 0;
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy-list {
  padding: 0;
  display: flex;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
  margin-right: 24px;
}

.title-and-year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #454b54;
  margin-right: 24px;
}

.project-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.live-and-source-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.live-and-source-btn .btn .live-icon {
  width: 16%;
}

.live-and-source-btn .btn .github-icon {
  width: 13%;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  color: #396df2;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.btn:enabled {
  background: #fff;
  border: 1px solid #4d5bd9;
  border-radius: 8px;
}

.btn:hover {
  background-color: #2d40e6;
  border-radius: 8px;
  color: #fff;
}

.btn:active {
  background: #2230d2;
  border-radius: 8px;
}

.btn:disabled {
  color: #5e6c84;
  background: #e5e5e5;
}

.about-section {
  background: #fff;
  border-top-right-radius: 100px;
  width: 100%;
  padding: 114px 24px;
  display: grid;
  gap: 24px;
}

.about-project-description-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.about-me-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-right: 60px;
  color: #172b4d;
}

.about-me-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.skills {
  list-style: none;
  padding: 0;
}

.skill-name-and-arrow {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 24px 12px;
}

hr {
  background: #dfe1e6;
  border: none;
  height: 1px;
}

.form-section {
  background: #5564eb;
  width: 100%;
  background-image: url("./assets/form-shape-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  padding: 24px;
  padding-top: 190px;
  border-top-left-radius: 100px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.form-container h2 {
  height: 56px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.form-container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.info-form {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.input-text {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.input-text:placeholder-shown {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.form-container #form-text-area {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 15px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#form-text-area textarea:placeholder-shown {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.form-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5564eb;
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.form-button:enabled {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}

.form-button:hover {
  background: #5564eb;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.form-button:active {
  background: #2230d2;
  border-radius: 8px;
}

.form-button:disabled {
  color: #5e6c84;
  background: #e5e5e5;
}

.line {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.line > div {
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 11px;
}

#errorTxt {
  color: red;
  border: 1px solid lightcoral;
  border-radius: 5px;
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
  background-color: #FFF4F4;
  display: none;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 1.5rem 154px;
  }

  nav {
    display: block;
  }

  nav .menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  nav .menu-items li {
    list-style: none;
    padding-inline-start: 1.5rem;
  }

  .menu-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .menu-link:hover {
    color: #4d5bd9;
  }

  .menu-link:active {
    color: #2230d2;
    border-radius: 8px;
  }

  .menu-link:disabled {
    color: #5e6c84;
  }

  .menu-btn {
    display: none;
  }

  .menu-bg {
    display: none;
  }

  .main-section {
    width: 100%;
    background-image: url("./assets/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 100px;
    display: grid;
    place-items: center;
    padding: 48px;
  }

  .pop-up-section {
    display: flex;
    flex-direction: row;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 75%;
    padding: 48px;
  }

  .content h1 {
    width: 400px;
  }

  #primary-text {
    width: 80%;
  }

  .cards {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 96px;
    padding: 120px;
  }

  .portfolio-list-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    height: auto;
  }

  .portfolio-list-section:hover {
    box-shadow: 0 16px 16px rgb(209, 207, 207, 0.24);
    cursor: pointer;
  }

  .portfolio-list-section img {
    width: 50%;
  }

  .portfolio-list-section img:hover {
    transform: scale(1.03);
  }

  .portfolio-list-section .mobile {
    display: none;
  }

  .portfolio-list-section .desktop {
    display: block;
  }

  .portfolio-list-section .project-description-container {
    width: 50%;
    padding: 24px;
    display: flex;
    gap: 24px;
  }

  .project-description-container .project-description {
    max-width: 350px;
  }

  .about-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 142px;
  }

  .skills {
    width: 60%;
  }

  .skills .images ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .skills .images ul > li img {
    width: 100%;
  }

  .skills .images ul > li img:hover {
    transform: scale(1.025);
    cursor: pointer;
  }

  .images .desktop {
    display: block;
  }

  .images .mobile {
    display: none;
  }

  .about-project-description-container {
    width: 40%;
  }

  .form-section {
    background: #5564eb;
    background-image: url("./assets/contact-form-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 569px;
  }

  .form-container p:hover {
    transform: translate(10px);
  }

  .info-form {
    width: 85%;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container #form-text-area {
    width: 100%;
  }
}
